.d1{
    padding-top: 130px;
    width:auto;
    height:40px;
    background-color: orange;
    display:flex;
    margin-top: 5px;


}
.d2{
    margin-left: 200px;
    margin-bottom: 45px;
    display: flex;
}
.a1{
    margin-left: 15%;
    
}
.b1{
    border-radius: 30%;
    border: white;
    background-color: palevioletred;
    margin-left: 600px;
}
.d3{
    margin-top: 20px;
    width:auto;
    height: 300px;
    background-image: url("people.jpg");
}
#i1{
    font-size: 50px;
}
.d4{
    display: block;
    display: flex;
    padding-left: 20px;
}

.navbar{
    overflow: hidden;
    position: fixed;
    background-color: red;
    top:0;
    left:0;
    width: 100%;

}
.navbar a{
    float:right;
    display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font:17px;
    
}
.navbar a:hover{
    background-color: aqua;
    color: black;


}
